@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap');

/* Custom Label & Dropdown Styling */
.form-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
a{
  color: white;
  font-weight: bold;
}

.range-value{
  width: 30px;
  height: 24px;
  line-height: 24px;
  padding: 3px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: ;
}

label {
  display: block;
  padding-bottom: 10px;
  font-weight: 500;
  font-family: rubik;
  color: white;
  font-size: 1.25rem;
  text-transform: uppercase;
}


hr{
  width: 100%;
  border: solid rgba(231, 231, 231, 30%) .5px;
}


/* Button Styling */
button {
  font-size: 1rem;
  font-family: rubik;
  font-weight: 500;
  margin-left: -7px;
  text-transform: uppercase;
  max-height: 4rem;
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}
button:active {
  color: black;
}
button:hover {
  cursor: pointer;
  font-weight: 700;
}

/* Full Page Container Styling */
html, body{
  height: 100vh;
}

/* change to be same as background of body */
header {
  padding-bottom: 15px;
  padding: 50px 50px;
}

.preview-area{
  display: inline-flex; 
  flex-grow: 1;
  flex-direction: column;
  padding-right: 150px;
  padding-top: 25px;
}

.selector {
  min-width: 215px;
}

.body-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: auto;
}

/* Style Header Text Input */

textarea:focus {
  outline: none;
}

textarea {
  background: none;
  border: none;
  color: white;
}

.header-text {
  font-size: 3rem;
  font-family: rubik, sans-serif;
  font-weight: bolder;
  overflow: hidden;
  resize: none;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-left: -2px;
}

.body-text {
  font-size: 1.5rem;
  font-family: sans-serif;
  min-height: 55vh;
  line-height: 1.5;
  overflow: hidden;
  resize: none;
}

.font-slider{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

input[type=range]{
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 1px;
  background: rgba(236, 236, 236, .7);
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: white;
  margin-top: -6px;
}
input[type=range]:hover::-webkit-slider-thumb{
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* Gradients */
.blue {
  color: white;
  background: linear-gradient(25deg, rgba(81,115,233,1) 0%, rgba(49,172,198,1) 62%);
}

.seafoam {
  color: white;
  background: linear-gradient(25deg, rgba(24,170,172,1) 0%, rgba(34,195,147,1) 90%);
}

.purple {
  color: white;
  background: linear-gradient(25deg, rgba(51,24,172,1) 0%, rgba(195,34,100,1) 99%);
}

.orange {
  color: white;
  background: linear-gradient(25deg, rgba(231,138,33,1) 0%, rgba(241,200,0,1) 99%);
}

.magenta {
  background: rgb(63,94,251);
  background: linear-gradient(50deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.bubblegum {
  background: rgb(196,137,163);
  background: linear-gradient(25deg, rgb(204, 127, 161) 20%, rgb(114, 166, 226) 85%);
}

.sherbet {
  background: rgb(255, 175, 189);
  background: linear-gradient(25deg, rgb(235, 157, 170) 20%, rgb(252, 189, 152) 85%);
}

.violet{
  background: rgb(142, 45, 226);
  background: linear-gradient(25deg, rgb(142, 45, 226) 20%, rgb(74, 0, 224) 85%);
}

.forest{
  background: rgb(31, 64, 55);
  background: linear-gradient(115deg, rgb(31, 64, 55) 0%, rgb(153, 242, 200) 90%);
}

.dreamy {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wine {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(10deg, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(10deg, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fire {
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Other Styles */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
