@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/* Custom Label & Dropdown Styling */

form {
  font-family: roboto;
  font-size: 1.25rem;
  color:rgb(18, 45, 65);
  font-weight: 500;
  padding: 15px;
}

.form-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}

select {
  font-size: 1rem;
  font-family: roboto;
  font-weight: 400;
  color: rgb(52, 63, 73);
  padding: 8px;
  margin-top: .5rem;
  background: whitesmoke;
  border-radius: .35rem;
  border: 1px solid slategray;
}


/* Full Page Container Styling */
html, body{
  height: 100%;
}


header {
  display: flex;
  background: aliceblue;
}

.body-div {
  font-size: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px 100px;
  margin: 0;
  min-height: calc(100vh - 302px);
}

/* Style Header Text Input */

textarea:focus {
  outline: none;
}

textarea {
  background: none;
  border: none;
  color: white;
}

.header-text {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bolder;
  overflow: hidden;
  resize: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

.body-text {
  font-size: 1.5rem;
  font-family: sans-serif;
  min-height: 55vh;
  overflow: hidden;
  resize: none;
}


/* Input Slider Styles */
.slidecontainer {
 display: inline-block;
 margin: 50px;
 width: 400px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 3px; /* Specified height */
  background: slategrey; /* Grey background */
  border-radius: 50px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  border-radius: 50px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50px;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(81, 171, 245); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  border-radius: 50px;
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Gradient Classes */
.blueGradient {
  color: white;
  background: linear-gradient(25deg, rgba(81,115,233,1) 0%, rgba(49,172,198,1) 62%);
}

.greenGradient{
  color: white;
  background: linear-gradient(25deg, rgba(24,170,172,1) 0%, rgba(34,195,147,1) 90%);
}

.purpleGradient{
  color: white;
  background: linear-gradient(25deg, rgba(51,24,172,1) 0%, rgba(195,34,100,1) 99%);
}

.orangeGradient{
  color: white;
  background: linear-gradient(25deg, rgba(231,138,33,1) 0%, rgba(241,200,0,1) 99%);
}

.magentaGradient{
  background: rgb(63,94,251);
  background: linear-gradient(50deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.bubblegumGradient{
  background: rgb(196,137,163);
  background: linear-gradient(25deg, rgb(204, 127, 161) 20%, rgb(114, 166, 226) 85%);
}



/* Other Styles */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
